*{
    margin:0;
    padding: 0;
}

body{
    background-color:pink;
    text-align: center;
}
.container{
    height:70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap:1vmin;
}
.box{
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color:blueviolet;
    background-color:antiquewhite;
}

#reset-btn{
    padding:1rem;
    font-family: 1.25rem;
    background-color: cyan;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding:1rem;
    font-family: 1.25rem;
    background-color:cornflowerblue;
    border-radius: 1rem;
    border: none;


}

#msg{
    color:chocolate;
    font-size: 8vmin;
}

.msg-container{
    height: 30vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}